*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
/examples/.ipynb_checkpoints*
/lattices/.ipynb_checkpoints*
/examples/*/.ipynb_checkpoints*
.DS_Store
/examples/.DS_Store