figure:has(img.caption-left) figcaption {
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

.sidebar-tree .caption,
.sidebar-tree :not(.caption) > .caption-text,
.toctree-wrapper.compound .caption,
.toctree-wrapper.compound :not(.caption) > .caption-text {
    text-transform: none;
    font-size: 1.2rem;
}
